
.wrap-settings{
max-width: 450px;
font-family: arial, sans-serif;
border: solid 0.5px #333;
border-style: dashed;
margin-left: 34%;  
margin-bottom: 30px;
}
.db-wrap{
  font-family: 'Playball', cursive;
  margin-top: 170px;
  margin-bottom: 0;
 font-size: 40px;
 color: #44A08D;
 
}

.settings-form .group .input,
.settings-form .group .button{
	border:none;
	padding:12px 20px;
	border-radius:10px;
 border: solid 2px #333;

}

.settings-form{

margin-left: 30px;

}

.settings-form .group .label,
.settings-form .group .input,
.settings-form .group .button{
	width:300px;
	display:block;
  margin: 15px;

}
.lineS{

    width: 370px;
  height: 5px;
  display: block;
  background: #ccc;
  margin-top: 10px;
  border-radius: 5px;
}



 .foot{
 margin: 10px;
 }


button{
  margin:0px 35px;
}